{% extends "base-fullscreen.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} has-background-grey-light {% endblock body_class %}

{% block content %}

    <main>

        <!-- Section -->
        <section class="section is-large has-background-white">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half-desktop">
                        <div class="box">

                            <div class="has-text-centered mb-4">
                                <h1 class="title is-3">Sign Up</h1>
                                <p>
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                        Add your credentials
                                    {% endif %}                                     
                                </p>    
                            </div>
                            
                            <form method="post" action="">
                            
                                {% csrf_token %}

                                <!-- Form -->
                                <div class="field mb-4">
                                    <label for="username" class="label">Username</label>
                                    <div class="control has-icons-left">
                                        <input type="text" name="username" class="input" placeholder="Enter your username" required>
                                        <span class="icon is-small is-left"><i class="fas fa-user-shield"></i></span>
                                    </div>
                                    <span class="help is-danger">{{ form.username.errors }}</span>
                                </div>
                                <!-- End of Form -->

                                <!-- Form -->
                                <div class="field mb-4">
                                    <label for="email" class="label">Your Email</label>
                                    <div class="control has-icons-left">
                                        <input type="email" name="email" class="input" placeholder="Enter your email" required>
                                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <span class="help is-danger">{{ form.email.errors }}</span>
                                </div>
                                <!-- End of Form -->

                                <div class="field">

                                    <!-- Form -->
                                    <div class="field mb-4">
                                        <label for="password1" class="label">Password</label>
                                        <div class="control has-icons-left">
                                            <input type="password" name="password1" class="input" placeholder="Enter your password" required>
                                            <span class="icon is-small is-left"><i class="fas fa-unlock-alt"></i></span>
                                        </div>  
                                        <span class="help is-danger">{{ form.password1.errors }}</span>
                                    </div>
                                    <!-- End of Form -->

                                    <!-- Form -->
                                    <div class="field mb-4">
                                        <label for="password2" class="label">Password Check</label>
                                        <div class="control has-icons-left">
                                            <input type="password" name="password2" class="input" placeholder="Enter your password again" required>
                                            <span class="icon is-small is-left"><i class="fas fa-unlock-alt"></i></span>
                                        </div>  
                                        <span class="help is-danger">{{ form.password2.errors }}</span>
                                    </div>

                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <a href="{% url 'login' %}" class="button is-small is-link is-text">Login</a>
                                        </div>
                                        <div class="control">
                                            <button type="submit" name="register" class="button is-primary">Sign Up</button>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            
            {% endblock content %}
            
            <!-- Specific Page JS goes HERE  -->
            {% block javascripts %}{% endblock javascripts %}
            
